<%- include('./partials/header') -%>
<style>
    table, th, td {
      border: 1px solid rgb(12, 35, 138);
      border-collapse: collapse;
    }
    th, td {
      background-color: #f2f5fa;
    }
</style>

<form method="GET" action="/getDataToBeUpdated" id="form">
<table>
    <tr>
       <th>Name</th>
       <th>Age</th>
       <th>Address</th>
       <th>PhoneNo</th>
       <th>college</th>
       <th>Update</th>
       <th>Delete</th>
    </tr>
 
    <% for (let i = 0; i < data.length; i++) { %>
     <tr>
       <td style="color:rgb(13, 27, 230)"><%= data[i].Name %></td>
       <td><%= data[i].Age %></td>
       <td><%= data[i].Address %></td>
       <td><%= data[i].PhoneNo %></td>
       <td><%= data[i].college %></td>
       <td><button style="color:#ff9100" name="update" value="<%= data[i].Name %>">Update</button></td>
       <td><a href="/deleteData?Name=<%= data[i].Name %>" style="color:#f52f15">Delete Entry </a> </td>
     </tr>    
    <% } %>
 </table>
</form>

 <!--<a href="/openForm" style="color:#ffffff; background-color: #0b803c">Add New Data </a><br>
 <a href="/registrationForm" style="color:#ffffff; background-color: #750446">NewUser Register Here </a>-->